In [1]:
# if sql modul not found error show up download it in anaconda prompt
# https://medium.com/analytics-vidhya/postgresql-integration-with-jupyter-notebook-deb97579a38d

In [2]:
%load_ext sql

In [3]:
from sqlalchemy import create_engine
import pandas as pd

In [4]:
# Format
# %sql dialect+driver://username:password@host:port/database
# Example format
# %sql postgresql://skripsi:password@localhost/skripsi
%sql postgresql://skripsi:password@lawnecommerce.my.id/skripsi

'Connected: skripsi@skripsi'

In [5]:
# Format
# engine = create_engine('dialect+driver://username:password@host:port/database')
# Example format
engine = create_engine('postgresql://skripsi:password@localhost/skripsi')

In [63]:
df = pd.read_sql(
    "SELECT so.id, so.customer_id, sc.name user_name, oi.product_id, sp.name product_name, oi.quantity FROM public.store_order so  INNER JOIN  public.store_orderitem oi ON  oi.order_id = so.id LEFT JOIN public.store_product sp on oi.product_id = sp.id LEFT JOIN public.store_customer sc on so.customer_id = sc.id WHERE so.complete = True ORDER BY so.id DESC"
    , engine)

In [64]:
df

    id  customer_id    user_name  product_id  product_name  quantity
0   37         26.0         test           2  graphic card         1
1   35         25.0  testing1234           3         mouse         1
2   35         25.0  testing1234           1        Laptop         1
3   29         20.0        bunny           1        Laptop         1
4   27          NaN         None           2  graphic card         1
5   24          8.0       Nomyar           1        Laptop         1
6   24          8.0       Nomyar           3         mouse         2
7   23          8.0       Nomyar           1        Laptop         2
8   21          3.0        buyer           2  graphic card         1
9   21          3.0        buyer           3         mouse         1
10  21          3.0        buyer           1        Laptop         2
11  20          3.0        buyer           3         mouse         1
12  19          3.0        buyer           1        Laptop         1
13  19          3.0        buyer           3         mouse         1
14  18          3.0        buyer           3         mouse         1
15  17          3.0        buyer           1        Laptop         1
16  16          3.0        buyer           2  graphic card         1
17  15          3.0        buyer           1        Laptop         1
18  14          3.0        buyer           1        Laptop         1
19  13          3.0        buyer           1        Laptop         1
20  12          3.0        buyer           1        Laptop         1
21  12          3.0        buyer           3         mouse         1
22  10          3.0        buyer           2  graphic card         1
23  10          3.0        buyer           1        Laptop         1
24   9          3.0        buyer           2  graphic card         1
25   9          3.0        buyer           1        Laptop         1
26   8          7.0         test           2  graphic card         1
27   8          7.0         test           3         mouse         3
28   7          3.0        buyer           2  graphic card         1
29   7          3.0        buyer           3         mouse         1
30   5          3.0        buyer           3         mouse         0
31   5          3.0        buyer           2  graphic card         5
32   5          3.0        buyer           1        Laptop         4

In [65]:
# convert to list
df_list = pd.DataFrame(df)

In [66]:
print(df_list)

    id  customer_id    user_name  product_id  product_name  quantity
0   37         26.0         test           2  graphic card         1
1   35         25.0  testing1234           3         mouse         1
2   35         25.0  testing1234           1        Laptop         1
3   29         20.0        bunny           1        Laptop         1
4   27          NaN         None           2  graphic card         1
5   24          8.0       Nomyar           1        Laptop         1
6   24          8.0       Nomyar           3         mouse         2
7   23          8.0       Nomyar           1        Laptop         2
8   21          3.0        buyer           2  graphic card         1
9   21          3.0        buyer           3         mouse         1
10  21          3.0        buyer           1        Laptop         2
11  20          3.0        buyer           3         mouse         1
12  19          3.0        buyer           1        Laptop         1
13  19          3.0        buyer           3         mouse         1
14  18          3.0        buyer           3         mouse         1
15  17          3.0        buyer           1        Laptop         1
16  16          3.0        buyer           2  graphic card         1
17  15          3.0        buyer           1        Laptop         1
18  14          3.0        buyer           1        Laptop         1
19  13          3.0        buyer           1        Laptop         1
20  12          3.0        buyer           1        Laptop         1
21  12          3.0        buyer           3         mouse         1
22  10          3.0        buyer           2  graphic card         1
23  10          3.0        buyer           1        Laptop         1
24   9          3.0        buyer           2  graphic card         1
25   9          3.0        buyer           1        Laptop         1
26   8          7.0         test           2  graphic card         1
27   8          7.0         test           3         mouse         3
28   7          3.0        buyer           2  graphic card         1
29   7          3.0        buyer           3         mouse         1
30   5          3.0        buyer           3         mouse         0
31   5          3.0        buyer           2  graphic card         5
32   5          3.0        buyer           1        Laptop         4

In [10]:
df_pivot = df_list.pivot_table(
		index=['customer_id' ],
#         index=['' ],
	 columns=['product_id'],
	 values='quantity'
	 )

In [11]:
df_pivot

product_id     1         2         3
customer_id
3.0          1.4  1.666667  0.857143
7.0          NaN  1.000000  3.000000
8.0          1.5       NaN  2.000000
20.0         1.0       NaN       NaN
25.0         1.0       NaN  1.000000
26.0         NaN  1.000000       NaN

In [12]:
df_pivot = df_pivot.fillna(0)

In [13]:
df_pivot

product_id     1         2         3
customer_id
3.0          1.4  1.666667  0.857143
7.0          0.0  1.000000  3.000000
8.0          1.5  0.000000  2.000000
20.0         1.0  0.000000  0.000000
25.0         1.0  0.000000  1.000000
26.0         0.0  1.000000  0.000000

In [14]:
# User-item matrix is ready
user_item_matrix = df_pivot.values

In [15]:
user_item_matrix

array([[1.4       , 1.66666667, 0.85714286],
       [0.        , 1.        , 3.        ],
       [1.5       , 0.        , 2.        ],
       [1.        , 0.        , 0.        ],
       [1.        , 0.        , 1.        ],
       [0.        , 1.        , 0.        ]])

In [16]:
from sklearn.metrics.pairwise import cosine_similarity

# Create a user-user similarity matrix
user_similarity = cosine_similarity(user_item_matrix)

In [17]:
user_similarity

array([[1.        , 0.57290017, 0.65220099, 0.59846158, 0.68226374,
        0.71245426],
       [0.57290017, 1.        , 0.75894664, 0.        , 0.67082039,
        0.31622777],
       [0.65220099, 0.75894664, 1.        , 0.6       , 0.98994949,
        0.        ],
       [0.59846158, 0.        , 0.6       , 1.        , 0.70710678,
        0.        ],
       [0.68226374, 0.67082039, 0.98994949, 0.70710678, 1.        ,
        0.        ],
       [0.71245426, 0.31622777, 0.        , 0.        , 0.        ,
        1.        ]])

In [18]:
# Get the index of the current user
current_user_index = df_pivot.index.get_loc(7)
current_user_index

1

In [19]:
# Get the indices of the most similar users
similar_users_indices = user_similarity[current_user_index].argsort()[::-1][1:6]
similar_users_indices

array([2, 4, 0, 5, 3], dtype=int64)

In [20]:
# Get the purchase history of the similar users
similar_users_purchase_history = df_pivot.iloc[similar_users_indices]
similar_users_purchase_history

product_id     1         2         3
customer_id
8.0          1.5  0.000000  2.000000
25.0         1.0  0.000000  1.000000
3.0          1.4  1.666667  0.857143
26.0         0.0  1.000000  0.000000
20.0         1.0  0.000000  0.000000

In [21]:
# Get the most purchased items by the similar users
most_purchased_items = similar_users_purchase_history.sum().sort_values(ascending=False).index
most_purchased_items

Int64Index([1, 3, 2], dtype='int64', name='product_id')

In [85]:
df_name = df_list.pivot_table(
		index=['user_name' ],
#         index=['' ],
	 columns=['product_name'],
	 values='quantity'
	 )
df_name

product_name  Laptop  graphic card     mouse
user_name
Nomyar           1.5           NaN  2.000000
bunny            1.0           NaN       NaN
buyer            1.4      1.666667  0.857143
test             NaN      1.000000  3.000000
testing1234      1.0           NaN  1.000000

In [86]:
df_name = df_name.fillna(0)

In [87]:
df_name

product_name  Laptop  graphic card     mouse
user_name
Nomyar           1.5      0.000000  2.000000
bunny            1.0      0.000000  0.000000
buyer            1.4      1.666667  0.857143
test             0.0      1.000000  3.000000
testing1234      1.0      0.000000  1.000000

In [88]:
# User-item matrix is ready
user_item_matrix = df_name.values
user_item_matrix

array([[1.5       , 0.        , 2.        ],
       [1.        , 0.        , 0.        ],
       [1.4       , 1.66666667, 0.85714286],
       [0.        , 1.        , 3.        ],
       [1.        , 0.        , 1.        ]])

In [89]:
# Create a user-user similarity matrix
user_similarity = cosine_similarity(user_item_matrix)
user_similarity

array([[1.        , 0.6       , 0.65220099, 0.75894664, 0.98994949],
       [0.6       , 1.        , 0.59846158, 0.        , 0.70710678],
       [0.65220099, 0.59846158, 1.        , 0.57290017, 0.68226374],
       [0.75894664, 0.        , 0.57290017, 1.        , 0.67082039],
       [0.98994949, 0.70710678, 0.68226374, 0.67082039, 1.        ]])

In [94]:
# Get the index of the current user
current_user_index = df_pivot.index.get_loc(8)
current_user_index

2

In [95]:
# Get the indices of the most similar users
similar_users_indices = user_similarity[current_user_index].argsort()[::-1][1:6]
similar_users_indices

array([4, 0, 1, 3], dtype=int64)

In [96]:
# Get the purchase history of the similar users
similar_users_purchase_history = df_name.iloc[similar_users_indices]
similar_users_purchase_history

product_name  Laptop  graphic card  mouse
user_name
testing1234      1.0           0.0    1.0
Nomyar           1.5           0.0    2.0
bunny            1.0           0.0    0.0
test             0.0           1.0    3.0