In [ ]:
# if sql modul not found error show up download it in anaconda prompt
# https://medium.com/analytics-vidhya/postgresql-integration-with-jupyter-notebook-deb97579a38d

In [1]:
%load_ext sql

In [2]:
from sqlalchemy import create_engine
import pandas as pd

In [3]:
# Format
# %sql dialect+driver://username:password@host:port/database
# Example format
%sql postgresql://skripsi:password@localhost/skripsi

'Connected: skripsi@skripsi'

In [4]:
# Format
# engine = create_engine('dialect+driver://username:password@host:port/database')
# Example format
engine = create_engine('postgresql://skripsi:password@localhost/skripsi')

In [38]:
df = pd.read_sql(
    "SELECT so.id, so.customer_id, oi.product_id, oi.quantity FROM public.store_order so  INNER JOIN  public.store_orderitem oi ON  oi.order_id = so.id WHERE so.complete = True ORDER BY so.id DESC"
    , engine)

In [39]:
df

    id  customer_id  product_id  quantity
0   29           20           1         1
1   27           18           2         1
2   24            8           1         1
3   24            8           3         2
4   23            8           1         2
5   20            3           3         1
6   19            3           1         1
7   19            3           3         1
8   18            3           3         1
9   17            3           1         1
10  16            3           2         1
11  15            3           1         1
12  14            3           1         1
13  13            3           1         1
14  12            3           1         1
15  12            3           3         1
16  10            3           2         1
17  10            3           1         1
18   9            3           1         1
19   9            3           2         1
20   8            7           2         1
21   8            7           3         3
22   7            3           3         1
23   7            3           2         1
24   5            3           1         4
25   5            3           3         0
26   5            3           2         5

In [40]:
# convert to list
df_list = pd.DataFrame(df)

In [41]:
print(df_list)

    id  customer_id  product_id  quantity
0   29           20           1         1
1   27           18           2         1
2   24            8           1         1
3   24            8           3         2
4   23            8           1         2
5   20            3           3         1
6   19            3           1         1
7   19            3           3         1
8   18            3           3         1
9   17            3           1         1
10  16            3           2         1
11  15            3           1         1
12  14            3           1         1
13  13            3           1         1
14  12            3           1         1
15  12            3           3         1
16  10            3           2         1
17  10            3           1         1
18   9            3           1         1
19   9            3           2         1
20   8            7           2         1
21   8            7           3         3
22   7            3           3         1
23   7            3           2         1
24   5            3           1         4
25   5            3           3         0
26   5            3           2         5

In [43]:
df_pivot = df_list.pivot_table(
		index=['customer_id' ],
#         index=['' ],
	 columns=['product_id'],
	 values='quantity'
	 )

In [44]:
df_pivot

product_id          1    2         3
customer_id
3            1.333333  1.8  0.833333
7                 NaN  1.0  3.000000
8            1.500000  NaN  2.000000
18                NaN  1.0       NaN
20           1.000000  NaN       NaN

In [11]:
df_pivot = df_pivot.fillna(0)

In [12]:
df_pivot

product_id          1    2         3
customer_id
3            1.333333  1.8  0.833333
7            0.000000  1.0  3.000000
8            1.500000  0.0  2.000000
18           0.000000  1.0  0.000000

In [13]:
# User-item matrix is ready
user_item_matrix = df_pivot.values

In [14]:
user_item_matrix

array([[1.33333333, 1.8       , 0.83333333],
       [0.        , 1.        , 3.        ],
       [1.5       , 0.        , 2.        ],
       [0.        , 1.        , 0.        ]])

In [15]:
from sklearn.metrics.pairwise import cosine_similarity

# Create a user-user similarity matrix
user_similarity = cosine_similarity(user_item_matrix)

In [16]:
user_similarity

array([[1.        , 0.56893927, 0.6136615 , 0.75313002],
       [0.56893927, 1.        , 0.75894664, 0.31622777],
       [0.6136615 , 0.75894664, 1.        , 0.        ],
       [0.75313002, 0.31622777, 0.        , 1.        ]])

In [35]:
# Get the index of the current user
current_user_index = df_pivot.index.get_loc(7)
current_user_index

1

In [18]:
# Get the indices of the most similar users
similar_users_indices = user_similarity[current_user_index].argsort()[::-1][1:6]
similar_users_indices

array([3, 2, 1], dtype=int64)

In [19]:
# Get the purchase history of the similar users
similar_users_purchase_history = df_pivot.iloc[similar_users_indices]
similar_users_purchase_history

product_id     1    2    3
customer_id
18           0.0  1.0  0.0
8            1.5  0.0  2.0
7            0.0  1.0  3.0

In [48]:
# Get the most purchased items by the similar users
most_purchased_items = similar_users_purchase_history.sum().sort_values(ascending=False).index
most_purchased_items

Int64Index([3, 2, 1], dtype='int64', name='product_id')